* {
  text-align: center;
  background-color: lightgoldenrodyellow;
  color:darkred;
}

button {
  margin: 1em;
  height: 2em;
  width: 4.5em;
  border-radius: 25%;
  border-color: darkred;
  background-color: darkred;
  color: lightgoldenrodyellow;

}
.modalbox {
  height: 90%;
}
.modalImage {
  width:6em;
  padding: 0.5em;
}
.logoSakura {
  font-size:xx-large;
  font-weight: 800;
}
.cardReverse {
  width:4em;
  padding: 0.5em;
  background: lightgoldenrodyellow;
}
.fortuneContainer {
  display: flex;
  justify-content: flex-start;
  padding: 0 1em;
}
.fortuneText {
  width: 80%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
